{% extends 'base.html' %}

{% block title %} POSTS {% endblock %}

{% block content %}

<div class="row">
    {% for post in posts %}
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.content }}</p>
                    <p><strong>Category:</strong> {{ post.category }}</p>
                    <p><strong>Published on:</strong> {{ post.publication_date }}</p>
                    <p><strong>Author:</strong> {{ post.author }}</p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}